	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family: 'Lato', sans-serif;
		font-size: inherit;
		font-weight: 300;
		color: #656565;
		min-height: 10em;
	}
	
	
	h1
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		list-style-type: none;
		padding: 0;
	}
	
	.divider
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 75%;
		height: 7px;
	}
	
	ul.actions
	{
		text-align: center;
	}
		
	ul.actions li
	{
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: inherit;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: auto auto;
		width: 100%;
		margin-bottom: 0em;
	}

	.paragraph_wrapper
	{
		text-align: justify !important;
		padding: 2em;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 8px;
		width: 68%;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Mate', serif;
		transition-property:width;
		transition-duration:1s;

		/* Safari */
		-webkit-transition-property:width;
		-webkit-transition-duration:1s;
	}

	.paragraph_wrapper p
	{
		color: #4A4A4A;
		font-size: 1.1em;
	}

	.mini
	{
		font-size: .3em;
	}

	.thinner
	{
		font-weight: 300;
	}

/*Image Style*/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/* List Styles*/

	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}
	
	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}

/*Button Style*/

	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: #1793d1;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
		text-align: center;
		border-radius: 2px;
		white-space: nowrap;
		font-size: medium;	
	}

	.button:hover
	{
		background: #2B3F48;
	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
/*Heading Titles*/

	.title
	{
		padding-bottom: 2.5em;
		text-align: center;
	}
	
	.title h2
	{
		text-transform: uppercase;
		color: #2B3F48;
	}
	
	#profile_title
	{
		padding-bottom: 3em;
	}
	
	#profile_title h2
	{
		font-size: 2.7em;
	}
	
	.title2 h2
	{
		text-transform: uppercase;
		font-size: 2.7em;
		color: #1793d1;
		text-align: center;
	}
	
	.title2
	{
		text-align: center;
		padding-top: 0em;
		padding-bottom: 2em;
	}
	
	
	.title .byline
	{
		font-size: 1.7em;
		color: #6F6F6F;
		margin-bottom: .5em;
		line-height: .7em;
	}
	.title2 .byline
	{
		font-size: 1.7em;
		color: #656565;
		line-height: 1.7em;
		font-weight: 100;
	}
		

/*category boxes*/	
	
	#wrapper
	{
		width: 100%;
		position: relative;
		box-shadow: 0px 4px 15px #181818;
		background: #FFF;
		margin-bottom: 17.5em;
		padding-bottom: 2em;
	}

	#wrapper_404
	{
	min-height: 100%;
		width: 100%;
		position: relative;
		box-shadow: 0px 4px 15px #181818;
		background: #FFF;
		margin-bottom: 17em;
	}
	
/*Header*/

	#header-wrapper
	{
		background: #333333;
	}

	#header
	{
		position: relative;
		height: 4emm;
		box-shadow: 1px 1px 1px 1px #000000;
	}

/*Logo*/

	#logo
	{
		position: absolute;
		left: 1.5em;
		top: .7em;
		transition-property: display;
		transition-duration: 1.2s;

		/* Safari */
		-webkit-transition-property: display;
		-webkit-transition-duration: 1.2s;
		margin-right: 2.5em;
	}
	#logo2
	{
		border-radius: 4px;
		height: 55px;
	}

	#soc_icon_box
	{
		padding-top: 1.25em;
	}

	.soc_icon
	{
		height: 100px;
		padding: 1em;
		transition-property: height;
		transition-duration: 1s;
	}
	
/*added box-shadow for logo drop shadow above*/
/*added new custom logo*/

/*Menu*/

	#menu
	{
		width: 100%; 
		overflow: hidden;
		text-align: center;
		white-space: nowrap;
	}
	
	#menu ul
	{
		display: inline-block;
		margin-top: 1.6em;
		list-style: none;
		white-space: nowrap;
		transition-property:width,height,margin,padding,border,opacity,font-size,float;
		transition-duration:.35s;

		/* Safari */
		-webkit-transition-property:width,height,margin,padding,border,opacity,font-size,float;
		-webkit-transition-duration:.35s;
	
	}
	
	#menu li
	{
		display: inline-block;
		text-align: center;
		padding: .5em;
		position: relative;
		float: left;
		border-top-style: solid;
		border-bottom-style: solid;
		border-color: #333333;
		border-width: 2px;
		transition-property:width,height,margin,padding,border,opacity,font-size,float;
		transition-duration:.35s;

		/* Safari */
		-webkit-transition-property:width,height,margin,padding,border,opacity,font-size,float;
		-webkit-transition-duration:.35s;
	
	}

	#menu li:hover
	{
		border-bottom-style: solid;
		border-bottom-color: #474747;
		border-top-style: solid;
		border-top-color: #474747;
		border-width: 2px;
	}
	
	#menu li a, #menu li span
	{
		padding: .5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: white;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: white;
	}
	
	#menu .current_page_item a
	{
		background: #CCCCCC;
		color: #FFF;
		border-radius: 3px;
	}

/* Banner*/

	#profile
	{
		border-radius: 100px;
		height: 150px;
		box-shadow: 3px 2px 3px 2px #0f0f0f;
		transition-property:width,height,margin,padding,border,opacity,display;
		transition-duration:.99s;
		margin-bottom: -2em;
	}
	
	#profile_box
	{
		display: inline;
	}

	#banner
	{
		overflow: hidden;
		background: #202020;
		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
		padding-top: 1em;
		padding-bottom: 1em;		
	}

	#banner .title
	{
		margin-bottom: 1em;
		text-transform: uppercase !important;
		font-family: 'Lato', sans-serif;
	}

	#banner .title h2
	{
		color: #FFF;
	}

	#banner .title .byline
	{
		color: rgba(255,255,255,.6);
		
	}

	.byline
	{
		font-family: lato;
		text-transform: none;
	}
	
	#banner .button
	{
		margin-top: 3em;
		background: #1793d1 !important;
		transition-property:padding;
		transition-duration:1.2s;

		/* Safari */
		-webkit-transition-property:padding;
		-webkit-transition-duration:1.2s;
		margin-right: 2.5em;
	}


/* Page*/

	#page
	{
		padding: 1em 0em 0em 0em;
		text-align: center;
		background: none !important;
	}
	
	#page .button
	{
		margin-top: 0em;
		display: inline-block;
		text-align: center;
	}
	
	#page .title .actions li
	{
		padding-bottom: 2em;
	}
		
	#page .container
	{
		padding-bottom: 2em;
		box-shadow: 0px 4px 15px #181818;
	}

/* Content*/

	#boxwrapper
	{
		border: 1px solid rgba(0,0,0,0.1);
	}

/* Sidebar*/


	#sidebar
	{
	}

/* Footer*/

	#footer
	{
		padding-bottom: 2.5em;
		text-align: center;
		display: block;
		background-color: #333333;
		width: 100%;
		height: 200px;
		position: fixed;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: -15;
	}
	
	#footer a
	{
		color: #656565;
		text-decoration: none;
	}
	
	#footer a:hover
	{
		text-decoration: underline;
	}
	
	#site_license
	{
		float: left;
		width: 15em;
		margin-left: 2em;
	}
	
	.footer_icon
	{
		height: 48px;
		border-radius: 4px;
		padding: 10px;
	}
	
	#footer_cols
	{
		width: 23em;
		margin: 0 auto;
	}
	
	.nav_col
	{
		float:left;
		text-align: left;
		margin: 1em;
		
	}
	
	.nav_col h4
	{
		font-weight: bold;
		text-decoration: underline;
	}

/*Licensing*/

/* Featured*/

	#featured
	{
		overflow: hidden;
		padding: 0em 0em;
		background: none;
		text-align: center;
		margin-bottom: 0em;
	}

	#featured a
	{
	}
	
	#featured .button
	{
		background: #FFF;
		margin-top: 3em;
		font-size: 1em;
	
	}

	#featured .title
	{
	}

	#featured .title h2
	{
		text-align: center;
		
	}

	#featured .title .byline
	{
		text-align: center;
		color: #707070;
	}
	
	#featured .container
	{
		padding-bottom: 3em;
		padding-top: 1em;
	}

/* Extra*/

	.extra .box
	{
		
	}


	.extra
	{
		overflow: hidden;
		padding: 0em 0em;
		background-color: white;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.extra .title
	{
		text-align: center;
		color: #1793d1;
	}
	
	.extra .byline
	{
		
	}
	
	.extra .button
	{
		margin-top: 5em;
	}
	
	.extra .fa
	{
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 3em;
	}

	.categoriesbutton
	{
		background-color: white;
		margin-top: -4em;
		padding-bottom: 2em;
	}

	.extra .title2 .byline
	{
		text-align: justify !important;
	}
	
/* Testing*/

	.categoriesbox
	{
		width: 99%%;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Lato', sans-serif;
		float: left;
		overflow: hidden;
		text-align: center;
		color: #656565;
		font-size: 1.5em;
		text-align: center;
		
	}
	
	.categoriespage
	{
		margin-left: auto;
		margin-right: auto;
		font-family: 'Lato', sans-serif;
		color: #656565;
		text-align: center;
		width: 40em;
	}
	
	.owl-demo .item .categoreiesbox span
	{
		text-decoration: underline;
	}
	
	.categoriesbox a
	{
		margin-bottom: 2em;
	}

	.categoriesimage
	{
		border-radius: 4px;
		box-shadow: 0px 4px 15px #181818;
	}

	.kerningexpander
	{
		letter-spacing: 2px;
		font-size: .9em;
		color: white;
		margin-left: 1em;
	}
	
	#subtitle
	{
		font-size: 1.5em;
	}

	#left_pane
	{
		
	}
	
	#right_pane
	{
		
	}

	#more
	{
		background-color: #FFF;
	}

	#paragraph_wrapper_categories
	{
		text-align: justify !important;
		width: 70%;
		padding: 2em;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;
		font-family: 'Mate', serif;
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 8px;
	}
	

	#owl-demo
	{
		
		
	}

	.selected
	{
		font-weight: bold;
		border-top-style: solid!important;
		border-top-color: #1793d1!important;
		border-bottom-style: solid!important;
		border-bottom-color: #1793d1!important;
		border-width: 2px;
	}

	.categoryspan
	{
		text-decoration: underline;
	}

	#cv
	{
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 8px;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		padding: .5em;
		margin-top: 2em;
		padding-left: .5em;
		padding-right: .5em;
	}
	
	#cv h2
	{
		text-decoration: underline;
	}
	
	#cv h3
	{
		margin-bottom: 0;
	}
	
	#cv p
	{
		font-size: 1.1em;
		text-align: justify;
	}
	
@media handheld, screen and (max-width: 1162px) {
		
		.jump
		{
			margin-top: 5.8em;
		}
								}

	#hatman
	{
		position: absolute;
		top: 3em;
		left: 0em;
		height: 35em;
		width: auto;
	}
	
	#posts_banner
	{
		overflow: hidden;
		padding: 1em 1em 1em 1em;
		background: #202020;
		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
		font-family: 'Lato', sans-serif;
		font-size: 1.7em;
	}
	
	#soc_sec
	{
	}
	
/*ALL POSTS PAGES*/

	.articles_wrapper
	{
		width: 70em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
		padding-bottom: .5em;
		font-size: 1em;
		font-family: "Mate", serif;
		text-align: justify;
		transition-property:width;
		transition-duration:1s;

		/* Safari */
		-webkit-transition-property:width;
		-webkit-transition-duration:1s;
	}

	.articles_box
	{
		width: 70em;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		margin-bottom: 1em;
		background: #F0F0F0;
		box-shadow: 0px 4px 15px #CCCCCC;
	}

	.articles_overview
	{
		padding: 0em 1em 0em 1em;
	}
	
	
	.articles_overview_header
	{
		display: block;
		padding-bottom: .5em;
	}

	.articles_overview_titles
	{
		text-align: center;
	}
	
	.articles_overview_title
	{
		font-family: "Lato", sans-serif;
		text-decoration: underline;
		font-size: 1.2em;
		color: #2B3F48;
	}
	
	.post_info
	{
		font-size: .8em;
	}
	
	
	.articles_overview_body
	{
		font-size: 1.05em;
		margin-top: 2em;
		line-height: 1.5em;
	}
	
	.tags
	{
		background: #E0E0E0;
		border-radius: 2px;
		opacity: .7;
	}
	
	#content
	{
	}
	
	#archive_box
	{
		width: 85%;
		text-align: center;
		border-width: 1px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 1em;
		margin-top: 2em;
		padding-top: 1em;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		margin-bottom: 2em;
	}
	
	#archive h3
	{
		font-size: 1.4em;
	}
	
	#archive ul li a
	{
	
	}
	
	#posts_wrapper
	{
		margin-top: 2em;
	}
	
/*Responsive (percentage width) extra-tiny for post page*/

@media handheld, screen and (max-width: 575px) {
	
	#posts_wrapper .articles_wrapper
	{
		width: 95%;
	}
	
	.articles_box .articles_overview .articles_overview_header
	{
		padding-left:0;
		padding-right: 0;
	}
							}
/*Responsive resizing SMALL*/

@media handheld, screen and (max-width: 959.985px) {
	
	.articles_wrapper
	{
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		font-size: 1em;
		font-family: "Mate", serif;
		text-align: justify;
	}

	.articles_wrapper .articles_box
	{
		width: 800px;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		margin-bottom: 1em;
		background: #F0F0F0;
		box-shadow: 0px 4px 15px #CCCCCC;
		margin-left: auto;
		margin-right: auto;
	}

	.articles_overview .articles_overview_header
	{
		padding-top: 1em;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 2em;
	}
	
	.articles_wrapper .articles_overview
	{
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		background: #F0F0F0;
		box-shadow: 0px 4px 15px #CCCCCC;
		margin-left: auto;
		margin-right: auto;
	}
	
	.post_info
	{
		font-size: 1.1em;
		
	}
	
	#menu
	{
		overflow: hidden;
		text-align: center;
		white-space: nowrap;
	}						
		
	#menu ul
	{
		margin-top: .5em;
		margin-bottom: .5em;
		display: inline-block;
		margin-right: auto;
		margin-left: auto;
		padding-left: 0em;
		font-size: 1.3em;
		float: none;
		white-space: nowrap;
	}
	
	#menu li
	{
		transition-property: box-shadow;
		transition-duration: .2s;
	}
	
	#menu ul li
	{
		border-radius: 4px;
		margin: 4px;
		border-top: 4px solid #1793d1;
		border-right: 4px solid #1793d1;
		border-bottom: 4px solid #1793d1;
		border-left: 4px solid #1793d1;
		background-color: #1793d1;
	}
	
	#menu li:hover
	{
		border-color: #1793d1;
		border-width: 4px;
		box-shadow: 0px 4px 6px #191919;
	}
	
	#menu ul li a
	{
		padding-top: .1em;
		padding-bottom: .1em;
	}
	
	#menu ul li a:hover
	{
		
	}
	
	#menu li a
	{
		padding: .5em;
	}
	
	#logo
	{
		display: none;
	}
	
	.selected a
	{
		border-bottom: solid 1px;
		border-color: white;
		
	}
	
	.button
	{
		padding: .5em 4em .5em 4em;
	}
	
	#banner .button
	{
		padding: 1.2em 8em 1.2em 8em;
	}
	
	.paragraph_wrapper
	{
		width: 80%;
	}
	
	#paragraph_wrapper_categories
	{
		width: 70%;
	}
	
	#hatman
	{
		margin-top: 3em;
	}
	
	#footer
	{
		font-size: .8em;
	}
	
	a .CC_icons
	{
		height: 150px;
		width: auto;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
	}
	
									}
							
/*Responsive resizing of article boxes MEDIUM*/

@media handheld, screen and (max-width: 1250px) {
	
	.articles_wrapper
	{
		width: 50em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		font-size: 1em;
		font-family: "Mate", serif;
		text-align: justify;
	}

	.articles_box
	{
		width: 50em;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		float: both;
		margin-bottom: 1em;
		background: #F0F0F0;
		box-shadow: 0px 4px 15px #CCCCCC;
	}

	.articles_overview_header
	{
		padding-top: 0;
		padding-bottom: 2em;
		padding-left: 2em;
		padding-right: 2em;
	}
	
	.post_info
	{
		font-size: .8em;
		
	}
	
							}
							
/*Responsive resizing of article boxes TEENY*/
	
@media handheld, screen and (max-width: 815px) {
	
	.articles_wrapper
	{
		width: 35em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		font-size: 1em;
		font-family: "Mate", serif;
		text-align: justify;
	}

	.articles_wrapper .articles_box
	{
		width: 95%;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		margin-bottom: 1em;
		background: #F0F0F0;
		box-shadow: 0px 4px 15px #CCCCCC;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}

	.articles_overview_header
	{
		padding: .5em;
	}
	
	.articles_wrapper .post
	{
		min-width: 95%;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		margin-bottom: 1em;
		background: #F0F0F0;
		box-shadow: 0px 4px 15px #CCCCCC;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	
	.articles_wrapper #right_article_box
	{
		min-width: 95%;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		margin-bottom: 2em;
		background: #F0F0F0;
		box-shadow: 0px 4px 15px #CCCCCC;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}
	
	.post_info
	{
		font-size: .8em;
		
	}
	
	#menu
	{
		overflow: hidden;
		text-align: center;
	}						
		
	#menu ul
	{
		margin-top: 1em;
		display: inline-block;
		margin-right: auto;
		margin-left: auto;
		padding-left: 0em;
		font-size: 1.1em;
		float: none;
	}
	
	#menu ul li
	{
		background-color: #1793d1;
		border-radius: 4px;
		margin-top: 4px;
		margin-bottom: 4px;
		margin-left: 2px;
		margin-right: 2px;
		padding-top: .7em;
		padding-bottom: .7em;	
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
	
	#menu ul li a
	{
		padding-top: 0;
		padding-bottom: 0;
		padding-left: .2em;
		padding-right: .2em;
	}
	
	#logo
	{
		display: none;
	}
	
	.selected
	{
		box-shadow: 0px 4px 15px #191919;
	}
	
	.button
	{
		padding: .3em 2em .3em 2em;
	}
	
	#banner .button
	{
		padding: .3em 2em .3em 2em;
	}
	
	#profile
	{
		position: absolute;
		visibility:hidden;
		opacity:0;
		transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}
	
	.paragraph_wrapper
	{
		width: 80%;
	}
	
	#paragraph_wrapper_categories
	{
		width: 90%;
	}
	
	#hatman
	{
		margin-top: 0em;
	}
	
	#footer
	{
		font-size: .8em;
	}
	
	.title2 a .CC_icons
	{
		height: 85px;
		width: auto;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
	}
	
	a .soc_icon
	{
		height: 75px;
	}
	
	#footer #site_license
	{
		margin-left: 0;
	}
	
	#footer #footer_cols .nav_col
	{
		margin: .5em;
	}

	#content .post
	{
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 1em;
		padding-left: 2em;
		padding-right: 2em;
	}
	
	#wrapper #cv
	{
		width: 90%;
	}
	
							}
							
/*END TEENY*/

	
	#list_box
	{
		width: 100%;
		overflow: hidden;
		text-align: center;
	}
	
	#list_box ul
	{
		display: inline-block;
		list-style: circle;
		margin-top: 1em;
		margin-bottom: 0;
		border: 1px solid #CCCCCC;
		border-radius: 8px;
	}
	
	#list_box li
	{
		display: inline-block;
		text-align: center;
		padding: 1em .5em 1em .5em;
		position: relative;
		float: left;
		font-size: 1.7em;
	}
	
	#attributions_box ul
	{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
		list-style-type: circle;
	}
	
	#attributions_box ul li
	{
		padding-top: 1em;
	}
	.attributions_license
	{
		font-size: .9em;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.lightbox_blue
	{
		color: #4AE;
	}

	.owlcarousel_green
	{
		color: #7fc242;
	}
	
	.gimp_orange
	{
		color: #f57900;
	}
	
	.inkscape_gray
	{
		color: #333333;
	}
	
	.lightzone_orange
	{
		color: #fe9b0e;
	}

	.CC_icons
	{
		height:175px;
		width: auto;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
		transition-property: height;
		transition-duration: 1s;
	}

	.pagination_navigation
	{
		display: block;
	}

	.strikeout
	{
		text-decoration: line-through;
	}


	/*Responsive resizing WTFTEENY*/

@media handheld, screen and (max-width: 400px) {
	
	#menu ul
	{
		margin-top: 1em;
		display: inline-block;
		margin-right: auto;
		margin-left: auto;
		padding-left: 0em;
		font-size: .6em;
		float: none;
	}
	
	
							}


/* Individual Post Pages */

	.post
	{
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 1em;
		padding-bottom: 2.5em;
		padding-left: 4em;
		padding-right: 4em;
	}
	
	.post-header h1
	{
		margin-bottom: .1em;
	}

	.post-header
	{
		text-align: center;
	}

	article
	{
		font-size: 1.1em;
	}
