<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="image/png" href="{{site.baseurl}}/img/logo.png">
<meta charset="UTF-8"/>
<title>Austin Small</title>
<meta name="keywords" content="" />
<meta name="description" content="Austin Small's personal site" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Mate' rel='stylesheet' type='text/css'>
<link href="{{site.baseurl}}/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
</head>
	<body>
		<div id="wrapper">
			<div id="header-wrapper">
				<div id="header" class="container">
					<div id="menu">
							<ul>
								<li id="posts"><a href="{{site.baseurl}}/blog/index.html">Posts</a></li>
								<li id="experience"><a href="">Experience</a></li>
								<li id="credits"><a href="">Credits</a></li>
								<li id="about"><a href="{{site.baseurl}}/index.html">About Me</a></li>
							</ul>
					</div>
				</div>
			</div>

			<div id="content">
			{{ content }}
			</div>
		</div>
			<div id="footer" class="container">
					<div id="site_license">
						<img class="footer_icon" src="{{site.baseurl}}/img/logo2.png" alt="asmalldev"><img class="footer_icon" src="{{site.baseurl}}/img/CC_invert.png" alt="Creative Commons"><br> &copy; Austin Small<br><br>
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licensing:</a>
						<a href="asmalldev.github.io">This Site</a> is licensed under a 
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"> Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
					</div>
					<div id="footer_cols">
						<div class="nav_col">
							<h4>Contact</h4>
								<ul>
									<li>github</li>
									<li>email</li>
									<li>twitter</li>
									<li>google plus</li>
								</ul>
						</div>
						<div class="nav_col">
							<h4>Navigation</h4>
								<ul>
									<li>Posts</li>
									<li>Experience</li>
									<li>Credits</li>
									<li>About Me</li>
								</ul>
						</div>
						<div class="nav_col">
							<h4>Help Me</h4>
								<ul>
									<li>feedback</li>
								</ul>
						</div>
					</div>
			</div>
</body>
</html>

